@import "./styles/themes.css";

*,
*::before,
*::after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--bg-secondary);
  color: var(--text-primary);
}
