.inviteCard {
  width: var(--user-card-width);
  height: var(--user-card-height);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-style: dashed;
  color: var(--text-very-muted);
  background: transparent;
}

.inviteCard:hover {
  color: var(--text-secondary);
  border-color: var(--border-secondary);
  background: var(--accent-blue-hover);
}
