.userCard {
  position: relative;
  gap: 12px;
  padding: 16px 24px;
  width: 6rem;
  height: 8.5rem;
  display: flex;
  justify-content: center;
}

.userCardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.displayName {
  font-size: 16px;
}

.audioWavesContainer {
  height: 1.5rem;
}

.micStatus {
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 4px;
}
