.headerContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}

@media (max-width: 390px) {
  .headerContainer {
    gap: 0.5rem;
  }
}

.leftSlot {
  display: flex;
  align-self: center;
}

.titleCard {
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  justify-self: center;
}

@media (max-width: 370px) {
  .titleCard {
    padding: 16px 20px;
  }
}
