.page {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: var(--section-gap);
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 390px) {
  .page {
    padding: 10px 5px;
  }
}

.landingContent {
  display: grid;
  place-items: center;
  padding-top: 2rem;
}

.roomInteriorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--section-gap);
}
